.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.slideshow img {
    max-width: 100vw;
    max-height: 100vh;
}

.slide-info {
    position: fixed;
    left: 2vw;
    bottom: 5vh;
    font-family: 'Source Sans Pro';
    z-index: 2;

    padding-left: 1rem;
}

.slide-info-name {
    font-weight: 700;
    font-variant: small-caps;
    font-size: 20px;
}

.slide-info-date {
    font-weight: 400;
    font-variant: small-caps;
    font-size: 14px;
    opacity: 0.3;
}

.slide-nav {
    margin-top: 1rem;
    display: flex;
    gap: 6px;
}

.nav-item {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    /* background-color: black; */
    cursor: pointer;
    /* opacity: .2; */
}

.logo-small-left {
    position: fixed;
    bottom: 5vh;
    right: 3.5vw;

    font-size: 24px;
    font-weight: 400;
    font-family: "Mrs Saint Delafield";
    color: black;
    opacity: 40%;

    cursor: pointer;
    z-index: 1;
}

.slideshow-buttons {
    position: fixed;
    left: 3vw;
    top: 7vh;
    display: flex;
    gap: 24px;
}

.slideshow-button {

    opacity: 0.25;
    cursor: pointer;
    z-index: 1;

    transition: opacity 0.1s ease;
}

.slideshow-button:hover {
    opacity: 1;
}


